@use 'theme';

// Global styles for web-admin app

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: var(--ft-bg-primary);
  color: var(--ft-text-primary);
  font-family: var(--ft-font-family);
  height: 100%;
  /* stylelint-disable-next-line order/properties-alphabetical-order */
  -webkit-font-smoothing: antialiased;
}
